body{font-size:20px;color:navy;background-color:#ffffff;margin:0px;overflow:auto;background-image:url('SOT.jpg');background-size:100% 100%;background-repeat:y-repeat;}
h1 {    
        font-family:Bodoni MT Black;
	font-size: 36px;
	margin-bottom:20px;
        color: navy;
        text-align: center;
}
ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}

li
{
float:left;
}
a:link,a:visited
{
display:block;
width:265.1px;
height:25px;
font-weight:bold;
color:#FFFFFF;
background-color:navy;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}

a:link.scrollup
{
display:block;
width:40px;
height:40px;
font-weight:bold;
color:#FFFFFF;
background-color:gray;
text-align:right;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}

